@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-container {
  animation: slideInUp 0.5s ease-out;
  background-color: rgba(193, 192, 243, 0.3); /* 보라색 유리 효과를 위한 색상 */
  backdrop-filter: blur(16.4px); /* 블러 효과 추가 */
  border-radius: 10px;
  padding: 16px;
  width: 90%;
  max-width: 350px;
  max-height: 80vh; /* 모달의 최대 높이 설정 */
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
  overflow-y: auto; /* 세로 스크롤 추가 */
  scrollbar-width: thin; /* Firefox에서 얇은 스크롤바 사용 */
}

.custom-scrollbar {
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #918ef4; /* 보라색으로 변경 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.dropdown {
  width: 100%;
  padding: 8px;
  border: 1px solid #918ef4;
  border-radius: 8px;
  font-family: 'dohyeon', sans-serif; /* 폰트 적용 */
  background-color: white;
  color: black;
  cursor: pointer;
  box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 크기를 조절 */
  appearance: none; /* 기본 드롭다운 화살표 제거 */
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-wrapper::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #918ef4;
}

.clothes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.try-on-button {
  background-color: #918ef4; /* 버튼 배경색 변경 */
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 16px;
  width: 80%; /* 버튼 가로 크기 조정 */
  cursor: pointer;
  font-family: 'dohyeon', sans-serif; /* 폰트 적용 */
  display: block;
  margin: 0 auto; /* 가운데 정렬 */
}

.clothes-item.selected {
  border: 2px solid #918ef4;
  border-radius: 8px;
}
