/* MainPage.css */
/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  


.MainPage {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden; /* 가상 요소가 부모 요소를 넘지 않도록 설정 */
  z-index: 1; /* 가상 요소보다 위에 위치하게 설정 */
  background-image: url('../../assets/images/background_image_main.png'); /* 배경 이미지 설정 */
  background-size: cover;
  }
  


/* MainPage.css */
.nav {
    display: flex;
    justify-content: space-around; /* 버튼 사이의 간격을 균등하게 분배 */
    width: 100%;
    margin-bottom: 20px; /* 네비게이션과 컨텐츠 사이에 여백 추가 */
    background: white; /* 네비게이션의 배경을 약간 투명하게 설정 */
    /* border-radius: 10px;  */
    padding: 10px;
  }
  
  .nav-link {
    background: transparent;
    border: none;
    font-family: 'dohyeon';
    color: #8F9BB3; /* 링크 텍스트 색상 */
    font-size: 16px;
    /* font-weight: bold; */
    padding: 10px 20px; /* 버튼 내부의 여백을 추가하여 크기를 조절 */
    margin: 0 15px; /* 버튼 사이의 간격을 15px로 설정 */
    cursor: pointer;
    border-radius: 56px; /* 버튼 모서리 둥글게 설정 */
  }
  
  .nav-link.active {
    background-color: #C1C0F3; /* 클릭된 페이지의 배경 색상 */
    color: 8F9BB3; /* 클릭된 페이지의 텍스트 색상 */
  }
  
  /* .nav-link:hover {
    text-decoration: underline;
  } */
  
  .content {
    width: 100%;
  }
  